.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 14;
  margin: 5px;

}

.table-striped>tbody>tr:nth-of-type(odd)>* {
  color: #ffffff !important;
  text-transform: capitalize !important;
}

.avatarButton {
  outline: none;
  border: 1px solid #ffffff !important;
  margin-right: 1.5em !important;
  background-color: #ffffff !important;
}

.avatarButton:hover {
  outline: none;
  border: 1px solid #145713 !important;
  background-color: #145713 !important;
  color: #b7b7b7;
}

.btnMinus,
.btnPlus {
  outline: none;
  color: #145713 !important;
  background-color: #b7b7b7 !important;
  border: 1px solid #f7f7f7 !important;
  margin-bottom: 0.2em;
  font-size: 18px;
  margin-right: 1em;
}

.btnPlus,
.btnMinus {
  outline: none;
  color: #145713 !important;
  background-color: #b7b7b7 !important;
  border: 1px solid #f7f7f7 !important;
  margin-bottom: 0.2em;
  font-size: 18px;
  margin-left: 1em;
}

.btnPlus:hover,
.btnMinus:hover {
  background-color: #145713 !important;
  color: #b7b7b7 !important;
}

.btnCartAddAmount {
  text-align: center;
  font-size: 2em;
}

label {
  text-transform: capitalize;
  font-size: 14px;
  padding-right: 4px;
  color: #b7b7b7;
  margin-top: 0.6em;

}

table {
  font-size: 14px;
  color: #ffffff !important;
  width: 95% !important;
  margin: 0 auto;
  margin-top: 2em;
  text-transform: capitalize;
}

.cart {
  background-color: #f7f7f7 !important;
  font-size: 1em !important;
  outline: none;
  font-weight: 800 !important;
  border: 4px solid #f7f7f7 !important;
  color: #114100 !important;
  margin-top: 1em;
  width: fit-content;
  text-transform: capitalize;
  font-style: italic;
  margin-right: 2em;
}

.cart:hover {
  background-color: #175600 !important;
  color: #8f8f8f !important;

}

.cartAvatar {
  background-color: #d6e0d7;
  font-size: 14px;
  color: #af1818 !important;
}

.cartBtn {
  background-color: #175600 !important;
  font-size: 14px !important;
  outline: none;
  border: 2px solid #114100 !important;
  width: 18em;
  word-spacing: 1em;
  text-transform: capitalize;
  font-style: italic;
  margin-top: 2em;

}

.cartHistoryBtn {
  background-color: #676767 !important;
  font-size: 14px !important;
  outline: none;
  border: 2px solid #676767 !important;
  width: 18em;
  word-spacing: 1em;
  text-transform: capitalize;
  font-style: italic;

}

.cartHistoryBtn:hover {
  background-color: #373737 !important;
  border: 2px solid #373737 !important;

}

.cartBtn:hover {
  background-color: #114100 !important;
  border: 2px solid #175600 !important;

}


.cartListDeleteBtn {
  margin-top: -3em;
  margin-left: 16em;
}

.warning {
  color: #a9c462 !important;
}

.cardListAccording {
  width: 80%;
  margin: 0 auto;
  margin-top: 1em;
  height: 100%;
  overflow-x: auto;
}


.page-link {

  color: #7b7a7a !important;
  background-color: #7b7a7a !important;
  border: #7b7a7a !important;

}

.price {
  font-size: 1.5em;
  font-weight: 800;
}

.infoItems {
  color: #ffffff;
  font-size: 20px;
  background-color: #8f8f8f;
  padding: 1em;
  text-align: center;
  border-radius: 10px 10px 10px 10px;

}

.lockOut {
  outline: none;
  color: #145713;
  background-color: #ffffff;
  border: 1px solid #f7f7f7;
  margin-bottom: 0.2em;
  font-size: 18px;
  width: 100%;
  text-align: left;
}

.lockOut:hover {
  background-color: #145713 !important;
  color: #b7b7b7 !important;
}

.modal-content {
  width: fit-content !important;
  margin: 0 auto;
}

.modal-title {
  color: #b7b7b7;

}

.modal-header {

  font-size: 18px !important;

}

.modal-body {
  width: 20em;
  margin: 0 auto !important;
  color: #8f8f8f;

}

.cartHistoryDeleteBtn {
  background-color: #750000 !important;
  font-size: 1em !important;
  height: 3.4em;
  outline: none;
  border: 1px solid #750000 !important;
  margin-left: 1.5em;
}

.cartHistoryDeleteBtn:hover {
  background-color: #af0505 !important;
  border: 1px solid #af0505 !important;
}


.cartDeleteBtn {
  background-color: #750000 !important;
  font-size: 1em !important;
  outline: none;
  border: 1px solid #750000 !important;
  margin-left: 1.5em;
  margin-top: 0.9em;

}

.wholecartDeleteBtn {
  outline: none;
  border: 1px solid #750000 !important;
  color: #b7b7b7 !important;
  background-color: #750000 !important;
  width: 20em;
  height: 3em;
}


.cartDate {
  font-size: 1.2em;
  text-transform: capitalize;
  margin-top: 1.5em;
  color: #145713;
  font-weight: 600;
}

.wholecartDeleteBtn:hover,
.cartDeleteBtn:hover {
  background-color: #af0505 !important;
  border: 1px solid #af0505 !important;
}

.removeImage,
.itemDeleteBtn {
  background-color: #750000 !important;
  font-size: 14px !important;
  outline: none;
  border: 1px solid #750000 !important;
}

.removeImage:hover,
.itemDeleteBtn:hover {
  background-color: #af0505 !important;
  border: 1px solid #af0505 !important;
}

header {
  color: #b7b7b7;
  font-weight: 600 !important;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  font-size: 18px;

}


input,
textarea {
  font-size: 14px !important;
  color: #8f8f8f !important;
  font-style: italic;
}

.input-group-addon {
  background-color: #5e6a5e;
  color: #ffffff !;
}


.input-group {
  margin-bottom: 0.5em;
}

.iconStyle {
  font-size: 6em;
  text-align: center !important;
  margin-bottom: 0.5em;

}

.btn-outline-success {
  background-color: #b7b7b7 !important;
  color: #145713 !important;
  border: 2px solid #b7b7b7 !important;
}

.buyCart {
  outline: none;
  border: 2px solid #023d01 !important;
  color: #b7b7b7 !important;
  background-color: #023d01 !important;
  width: 20em;
  height: 3em;
  margin-bottom: 1.5em !important;
}

.buyCart:hover {
  background-color: #0a7009 !important;
  border: 2px solid #0a7009 !important;
}

.editAccount:hover,
.addNewItem:hover,
.addToShoppingCart:hover,
.shoppingCart:hover,
.btn-outline-success:hover {
  background-color: #023d01 !important;
  color: #b7b7b7 !important;
}

.small {
  font-size: 14px !important;
  padding: 2px
}

.contact {
  font-size: 16px;
  margin: 0 auto;
  color: #023d01;
  margin-top: 1em;
  text-transform: capitalize;
}

.contactAddress,
.contactEmail {
  margin-bottom: 1em;
  font-weight: 600;

}

.contactHeader {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 2em;
  text-decoration: 2px underline #023d01;
  font-style: italic;
  padding: 0.5em;
}

.deleteBtn:hover {
  background-color: #c30303 !important;
  color: #b7b7b7 !important;
  padding: 2px !important;
}

.deleteBtn,
.danger {
  color: #ff0000;
}

.page-link {
  color: #ffffff !important;
  background-color: #757373 !important;
}

.page-link.active {
  color: #b7b7b7 !important;
  background-color: #242323 !important;
}

.listTitle {
  color: #757373;
  font-weight: 800;
  padding: 1em;
}

.success {
  color: #13fa26;
}

.error {
  background-color: #de5252;
  font-weight: 900;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;
}

.editAccountForm {
  margin-top: 4em !important;
  width: 40%;
  background-color: #ffffff;
  padding: 1em;
  margin: 0 auto;
  text-align: left;
  border-radius: 10px 10px 10px 10px;
}

#search {
  outline: none;
  border: 2px solid #b7b7b7;
  border-radius: 10px 10px 10px 10px;
  text-transform: capitalize;
  margin: 2em;
  width: 50%;
  height: 4em;
  text-align: center;
}


#sigInForm {
  width: 20em;
  border: 2px solid #b7b7b7;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 1em;
  background-color: #ffffff;
  margin-top: 5em;


}

.email,
.password {
  text-align: left;
}


.startShoppingBtn,
.returnToList {
  background-color: #114100 !important;
  font-size: 14px !important;
  outline: none;
  border: 1px solid #114100 !important;

}

.startShoppingBtn:hover,
.returnToList:hover {
  background-color: #237704 !important;
  border: 1px solid #237704 !important;
}

#registerform {
  margin: 0 auto;
  padding: 5px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

#editItemForm {
  margin: 0 auto;
  background-color: #ffffff;
  padding: 2em;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
  width: 40%;
  margin-top: 5em;
}

.reviewHistory {
  color: #595959;
  margin-top: 4em;
  font-size: 2em;
  font-weight: 800;
}

.cartList {
  color: #114100;
  margin-top: 4em;
  font-size: 2em;
  font-weight: 800;
}

.cartList {
  margin-top: 4em;
}

.dropdown-menu {
  margin-left: -6em !important;
}

.addToShoppingCart,
.editAccount,
.addNewItem {
  background-color: #b7b7b7 !important;
  color: #145713 !important;
  outline: none !important;
  border-radius: 10px 10px 10px 10px !important;
  border: 2px solid #b7b7b7 !important;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

.addToShoppingCart {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 0.5em;
}

textarea {
  max-height: 300px;
}

.contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
  background-color: #b7b7b7;
  margin: 1px;
  height: fit-content;
  padding: 2px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;
}