body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #b7b7b7 !important;

}

.navbar .links {
  color: #145713;
  margin: 0 auto;
}

.navBarHeader {
  color: #145713 !important;
  margin: 0 auto;
  text-transform: uppercase;
  font-weight: 800;
}

.nav.navbar {
  margin: 0 auto !important;
}

.navBarBtn {

  outline: none;
  border: 2px solid #ffffff;
}


.navBarBtn:hover {
  background-color: #145713;
  color: #b7b7b7;
}

.listGroupItem {
  background-color: #757373 !important;
  color: #b7b7b7 !important;
  text-align: left;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #919090;
  color: #145713;
  height: 2em;
  text-align: center;
}

.cardStyle {
  border: 2px solid #b7b7b7 !important;
  color: #b7b7b7 !important;
  font-size: 14px;
  width: 20rem !important;
  height: 30em fit-content;
  padding: 1em;
  margin: 0 auto;
}

.cardTitleStyle {
  font-size: 14px;
  text-transform: capitalize;
  color: #757373;


}


.navbar a {
  text-decoration: none;
  padding: 6px;
  color: #023d01;
}

.modalCenter,
.itemCenter {
  width: 20rem;
  margin: 0 auto;
}


.navbar a:hover {
  background-color: #145713;
  color: #b7b7b7;
}

.content {
  text-align: center;
}