body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

.navbar .links {
  margin-bottom: 0.5em;
  color: #145713;

}

.navBarBtn {
  outline: none;
  border: 2px solid #ffffff;
}


.navBarBtn:hover {
  background-color: #145713;
  color: #b7b7b7;
}

.listGroupItem {
  background-color: #6c96b8 !important;
  color: #b7b7b7 !important;
  text-align: left;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #adbfcd;
  color: #145713;
  text-align: center;
}

.cardStyle {
  border: 2px solid #808080 !important;
  background-color: #6c96b8 !important;
  color: #b7b7b7 !important;
  font-size: 12px;
  padding: 5px;
  width: 10rem !important;
  height: 30em !important;
}

.cardTitleStyle {
  font-size: 14px;
  text-transform: capitalize;
}

.offcanvas-backdrop {
  background-color: #808080
}

.navbar a {
  text-decoration: none;
  padding: 6px;
  color: #023d01;
}

.modalCenter,
.itemCenter {
  width: 20rem;
  margin: 0 auto;
}


.navbar a:hover {
  background-color: #145713;
  color: #b7b7b7;
}

.content {
  text-align: center;
}