.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 14;
  margin: 5px;

}


label {
  text-transform: capitalize;
  font-size: 14px;
  padding-right: 4px;
  color: #cccccc;
  margin-top: 0.6em;

}

.infoItems {
  color: #ffffff;
  font-size: 20px;
  background-color: #8f8f8f;
  padding: 1em;
  text-align: center;
  border-radius: 10px 10px 10px 10px;

}

.editPen {
  color: #023d01;
  font-size: 2em;
}

.lockOut {
  outline: none;
  color: #145713;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  margin-bottom: 0.2em;
  font-size: 18px;
  padding: 2px
}

.lockOut:hover {
  background-color: #145713 !important;
  color: #b7b7b7 !important;
}

.modal-content {
  width: fit-content !important;
  margin: 0 auto;
}

.modal-title {
  color: #b7b7b7;

}

.modal-header {

  font-size: 18px !important;

}

.modal-body {
  width: 20em;
  margin: 0 auto !important;
  color: #8f8f8f;

}

.itemDeleteBtn {
  background-color: #750000 !important;
  font-size: 14px !important;
  outline: none;
  border: 1px solid #750000 !important;
}

.itemDeleteBtn:hover {
  background-color: #af0505 !important;
  border: 1px solid #af0505 !important;
}

header {
  color: #b7b7b7;
  font-weight: 600 !important;
  text-transform: capitalize;
  margin-bottom: 0.5em;
  font-size: 18px;

}

.offcanvas-title header,
.navBar-header {
  color: #145713 !important;
  text-transform: uppercase !important;
  margin-left: -0.3em !important;
}

.offcanvas-title {
  margin-left: -0.2em;
  font-weight: 200 !important;

}

input,
textarea {
  font-size: 14px !important;
  color: #8f8f8f !important;
  font-style: italic;
}

.input-group-addon {
  background-color: #5e6a5e;
  color: #ffffff !;
}


.input-group {
  margin-bottom: 0.5em;
}

.iconStyle {
  font-size: 6em;
  text-align: center !important;
  margin-bottom: 0.5em;

}

.btn-outline-success {
  background-color: #b7b7b7 !important;
  color: #145713 !important;
  border: 2px solid #b7b7b7 !important;
}


.addNewItem:hover,
.editPen:hover,
.btn-outline-success:hover {
  background-color: #023d01 !important;
  color: #b7b7b7 !important;
}

.small {
  font-size: 14px !important;
  padding: 2px
}

.deleteBtn:hover {
  background-color: #c30303 !important;
  color: #b7b7b7 !important;
  padding: 2px !important;
}

.deleteBtn,
.danger {
  color: #c30303;
}

.page-link {
  color: #ffffff !important;
  background-color: #757373 !important;
}

.page-link.active {
  color: #b7b7b7 !important;
  background-color: #242323 !important;
}



.listTitle {
  color: #757373;
  font-weight: 800;
  padding: 1em;
}

.success {
  color: #00a10d;
}

.error {
  background-color: #de5252;
  font-weight: 900;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;

}

#search {
  outline: none;
  border: 4px solid #757373;
  border-radius: 10px 10px 10px 10px;
  padding: 5px;
  text-transform: capitalize;
  margin: 2em;
  float: right;
  width: 90%;
}

#search:hover {
  border: 4px solid #dad6d6;
}


#sigInForm {
  width: 20em;
  border: 2px solid #b7b7b7;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 1em;
  background-color: #898888;
  margin-top: 5em;


}

.email,
.password {
  text-align: left;
}


.returnToList {
  background-color: #114100 !important;
  font-size: 14px !important;
  outline: none;
  border: 1px solid #114100 !important;

}

.returnToList:hover {
  background-color: #237704 !important;
  border: 1px solid #237704 !important;
}

#registerform {
  margin: 0 auto;
  padding: 5px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
}

#editItemForm {
  max-width: 24em;
  margin: 0 auto;
  background-color: #757373;
  padding: 2em;
  border: 4px solid #ffffff;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
}

.addNewItem {
  background-color: #b7b7b7 !important;
  color: #145713 !important;
  outline: none !important;
  border-radius: 10px 10px 10px 10px !important;
  border: 2px solid #b7b7b7 !important;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

textarea {
  max-height: 300px;
}

.contain {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1px;
  background-color: #ffffff;
  margin: 1px;
  height: fit-content;
  padding: 2px;
  margin: 0 auto;
  float: none;
  margin-bottom: 10px;

}