.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 12;
  margin: 5px;
}


label {
  text-transform: capitalize;
  font-size: 10px;
  padding-right: 4px;
  color: #8f8f8f;
  margin-top: 0.6em;

}


.editPen {
  color: #023d01;
}

.modal-content {
  width: fit-content !important;
  margin: 0 auto;
}

.modal-title {
  color: #b7b7b7;
}

.modal-body {
  width: fit-content;
  padding: 4px;
  margin: 0 auto !important;
  color: #8f8f8f;

}

.itemDeleteBtn {
  background-color: #750000 !important;
  font-size: 12px !important;
  outline: none;
  border: 1px solid #750000 !important;
}

.itemDeleteBtn:hover {
  background-color: #af0505 !important;
  border: 1px solid #af0505 !important;
}

header {
  color: #145713;
  font-weight: 600 !important;
  text-transform: capitalize;
  margin-bottom: 0.5em;
}

.offcanvas-title header,
.navBar-header {
  color: #145713 !important;
  text-transform: uppercase !important;
  margin-left: -0.3em !important;
}

.offcanvas-title {
  margin-left: -0.2em;
  font-weight: 200 !important;

}

input,
textarea {
  font-size: 8px !important;
  color: #8f8f8f !important;
  font-style: italic;
}

.input-group-addon {
  background-color: #5e6a5e;
  color: #ffffff !;
}


.input-group {
  margin-bottom: 0.5em;
}

.iconStyle {
  font-size: 6em;
  text-align: center !important;
  margin-bottom: 0.5em;

}

.btn-outline-success {
  background-color: #b7b7b7 !important;
  color: #145713 !important;
  border: 2px solid #b7b7b7 !important;
}


.addNewItem:hover,
.editPen:hover,
.btn-outline-success:hover {
  background-color: #023d01 !important;
  color: #b7b7b7 !important;
}

.small {
  font-size: 8px !important;
  padding: 2px
}

.deleteBtn:hover {
  background-color: #c30303 !important;
  color: #b7b7b7 !important;
  padding: 2px !important;
}

.deleteBtn,
.danger {
  color: #c30303;
}


.success {
  color: #00a10d;

}

.error {
  background-color: #de5252;
  font-weight: 900;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;

}


#sigInForm,
#form {
  width: fit-content;
  border: 2px solid #b7b7b7;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

.email,
.password {
  text-align: left;
}


.returnToList {
  background-color: #114100 !important;
  font-size: 12px !important;
  outline: none;
  border: 1px solid #114100 !important;

}

.returnToList:hover {
  background-color: #237704 !important;
  border: 1px solid #237704 !important;
}

#registerForm {
  margin: 0 auto;
  padding: 5px;
  margin-top: 0.2em;
  margin-bottom: 0.5em
}

#editItemForm {
  max-width: 24em;
  margin: 0 auto;
  background-color: #0a2a44;
  padding: 2em;
  border: 4px solid #1f5079;
  border-radius: 10px 10px 10px 10px;
  text-align: left;
}

.addNewItem {
  background-color: #b7b7b7 !important;
  color: #145713 !important;
  outline: none !important;
  border-radius: 10px 10px 10px 10px !important;
  border: 2px solid #b7b7b7 !important;
  margin-bottom: 0.5em;
  margin-left: 0.5em;
}

textarea {
  max-height: 300px;
}

.contain {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 10px;
  justify-items: center;
  background-color: #ffffff;
  margin: 10px;
  height: fit-content;
  padding: 20px;
  margin: 0 auto;

}