@media only screen and (max-width: 998px) {
  .cardStyle {
    font-size: 10px;
    margin: 0 auto;
    padding: 1px;
    width: 20rem !important;
    height: 50em !important;
  }

  .cardTitleStyle {
    font-size: 10px;
  }

  .dropdown-menu {
    margin-left: -0.5em !important;
  }

  .nav-link {
    width: 100%;
  }


  .editAccountForm,
  #editItemForm {
    width: 70%;
  }

  .contain {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: fit-content;
    padding: 2px;
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;

  }
}