body {
  margin: 0;
  color: #7c7c7c;

}

.navbar .links {
  margin-bottom: 0.5em;
  color: #145713;

}

.navBarBtn {
  outline: none;
  border: 2px solid #ffffff;
}


.navBarBtn:hover {
  background-color: #145713;
  color: #b7b7b7;
}

.offcanvas-backdrop {
  background-color: #808080
}

.navbar a {

  text-decoration: none;
  padding: 6px;
  color: #023d01;


}

.navbar a:hover {
  background-color: #145713;
  color: #b7b7b7;
}

.content {
  text-align: center;
}