.title {
  text-align: center;
  text-transform: capitalize;
  font-size: 12;
  margin: 5px;
}


label {
  text-transform: capitalize;
  font-size: 10px;
  padding-right: 4px;
  color: #8f8f8f;
  margin-top: 0.6em;
  -webkit-text-stroke: 1px #b7b7b7;
  text-shadow: 0px 3px 3px #a19efc;
}

.modal-content {
  width: 20em !important;
  margin: 0 auto;
}

.modal-title {
  color: #b7b7b7;
}

.modal-body {
  width: fit-content;
  padding: 4px;
  margin: 0 auto !important;
  color: #8f8f8f;

}

.itemDeleteBtn:hover {
  background-color: #d4d4d4 !important;

}

.itemDeleteBtn {
  padding: 0px !important;
  border: none !important;
  background-color: #ffffff !important;
}


header {
  color: #b7b7b7 !;
  font-weight: 600 !important;
  text-transform: capitalize;
  -webkit-text-stroke: 1px #b7b7b7;
  text-shadow: 0px 3px 3px #a19efc;
  margin-bottom: 0.5em;
}

.offcanvas-title header,
.navBar-header {
  color: #b7b7b7 !important;
  font-weight: 100 !important;
  text-transform: uppercase !important;
  margin-left: -0.3em !important;
}

.offcanvas-title {
  margin-left: -0.2em;
  text-decoration: 10px underline #b7b7b7;
  -webkit-text-stroke: 1px #b7b7b7;
  text-shadow: 0px 3px 3px #a19efc;
  font-weight: 200 !important;

}

input,
textarea {
  font-size: 8px !important;
  color: #8f8f8f !important;
  font-style: italic;
}

.input-group-addon {
  background-color: #b7b7b7
}

.input-group {
  margin-bottom: 0.5em;
}

.iconStyle {
  font-size: 6em;
  text-align: center !important;
  margin-bottom: 0.5em;

}

.small {
  font-size: 8px !important;
  padding: 2px
}

.danger {
  color: #c30303;
}

.success {
  color: #026a0a;

}

.error {
  background-color: #de5252;
  font-weight: 900;
  padding: 5px;
  font-size: 14px;
  text-transform: uppercase;

}


#sigInForm,
#form {
  width: fit-content;
  border: 2px solid #b7b7b7;
  border-radius: 10px 10px 10px 10px;
  margin: 0 auto;
  padding: 10px;
  margin-top: 0.2em;
  margin-bottom: 1em;
}

#registerForm {
  margin: 0 auto;
  padding: 5px;
  margin-top: 0.2em;
  margin-bottom: 0.5em;


}

.newTitle {
  text-align: left;
  color: #8f8f8f;
}


.addNewItem {
  background-color: #b7b7b7 !important;
  color: #ffffff !important;
  outline: none !important;
  border-radius: 10px 10px 10px 10px !important;
  border: 2px solid #b7b7b7 !important;
  margin-bottom: 0.5em;
  margin-left: 0.5em;

}


.form-floating.newContent {
  height: 180px
}

.addNewItem:hover {
  background-color: #a0a0a0 !important;
}

.newContent {
  text-align: left;
  color: #8f8f8f;
  margin-top: 10px;
  margin-bottom: 10px;
}

textarea {
  height: 100px !important
}

.contain {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-content: center;
  gap: 10px;
  justify-items: center;
  background-color: #a9a5a5;
  margin: 10px;
  height: fit-content;
  padding: 20px;
  margin: 0 auto;
}